@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
    background-color: #FFE1BE;
    font-size: 3vh;
    font-family: 'Koulen', Impact, 'Arial Black', sans-serif;
    font-weight: 400;
    margin-left: 15%;
    margin-right: 15%;
}

button {
    border-radius: 10px;
    padding: 0.5rem;
    margin: 3px;
    background-color: #E9CDAB;
    cursor: pointer;
}

button:hover {
    background-color: #312d21;
    border-color: white;
    color: white;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-container {
    margin: 5px;
    display: flex;
    width: calc(50% - 10px);
    height: 70vh;
    padding: 20px;
    margin-top: 0;
}

#left-container #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: none;
}

#left-container #top-bar h1 {
    letter-spacing: 5px;
    margin: 10px;
    font-size: 8vh;
    font-weight: 200;
}

#play-button {
    border-width: 4px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 2vh;
    margin: 0;
    margin-right: 3vh;
    margin-left: 3vh;
    margin-bottom: 10px;
    border-radius: 20px;
}

#left-container #left-center {
    height: 70vh;
}

.disabled {
    background-color: #b09c83;
    pointer-events: none;
}

#right-container {
    background-color: #E9CDAB;
    margin: 5px;
    margin-top: 25px;
    border: 5px solid black;
    width: calc(50% - 10px);
    height: 70vh;
    top: 0;
    left: 0;
    padding: 30px;
    font-size: 3.5vh;
    overflow: scroll;
    resize: none;
    flex-shrink: 0;
}

#timer {
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    width: 5ch;
    display: inline-block;
    font-family: 'Koulen', monospace;
}

#right-container input {
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

#played-words {
    display: inline-block;
    height: 30vh;
}

#played-words div {
    display: inline-block;
    font-size: 3vh;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(71, 71, 71);
}

#played-words .correct {
    color: green;
}

#played-words .incorrect {
    color: red;
}


#lower-bar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#lower-bar button {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    border-width: 5px;
}